<div class="mt-3 full-text">
  <%= label %>
  <button class="btn btn-link full-text-expand collapsed ps-0" type="button" data-bs-toggle="collapse" data-bs-target="#<%= key %>" aria-expanded="false" aria-controls="<%= key %>"><span class="visually-hidden">expand</span></button>
  <div id="<%= key %>" class="collapse">
    <%= @field.render %>
  </div>
</div>
