<%= t '.intro_html' %>
<div class="d-flex gap-2">
  <div class="flex-shrink-0 d-flex align-items-center" style="width: 24px; height: 24px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--stanford-cardinal)" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
    </svg>
  </div>
  <div class="flex-grow-1 pe-4">
    <%= t '.content_warning_html' %>
  </div>
</div>
<h2 class="h4 home-heading"><%= t '.explore_header' %></h2>
<div class="row explore">
  <%= render ExploreFacetComponent.new(facet:  blacklight_config.facet_fields['resource_type'],
                                       image: 'explore-facet-doc-type.png',
                                       values: ['Official court transcripts', 'Evidentiary exhibits', 'Final pleas and clemency pleas', 'Rules, rulings, and orders'],
                                       more: true) %>
  <%= render ExploreFacetComponent.new(facet:  blacklight_config.facet_fields['media_type'],
                                       image: 'explore-facet-media-format.png',
                                       values: ['Graphic Materials', 'Audio', 'Text', 'Moving Images']) %>
  <%= render ExploreFacetComponent.new(facet:  blacklight_config.facet_fields['resource_format'],
                                       image: 'explore-facet-doc-format.png',
                                       values: %w[Books Envelopes Film Microfilm],
                                       more: true) %>
</div>
<h2 class="h4 home-heading"><%= t '.imt_header' %></h2>
<%= t '.imt_html' %>
<h2 class="h4 home-heading"><%= t '.impact_legacy_header' %></h2>
<%= t '.impact_legacy_html' %>
<h2 class="h4 home-heading"><%= t '.acknowledgments_header' %></h2>
<%= t '.acknowledgments_html' %>
