<!-- This file copies the equivalent file in Blacklight and adds VT Google Analytics in :head -->
<% content_for(:head) do %>
  <%= render 'shared/analytics' %>
  <meta name="google-site-verification" content="4SEX1TG23GE_dZ_Pztv0q1o4h0sfERQ43R85-LD7dAM" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-09-11/styles/sul.css" />
<% end %>

<% content_for(:content) do %>
  <% if content_for? :sidebar %>
    <section id="content" class="<%= main_content_classes %> order-last" aria-label="<%= t('blacklight.search.documents.aria.search_results') %>">
      <%= yield %>
    </section>

    <section id="sidebar" class="<%= sidebar_classes %> order-first" aria-label="<%= t('blacklight.search.documents.aria.limit_search') %>">
      <%= content_for(:sidebar) %>
    </section>
  <% else %>
    <section class="col-md-12">
      <%= yield %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
