<div class="vt-landing-page">
  <div class="d-flex vt-item">
    <div class="me-5">
      <p>
        Virtual Tribunals is a collaboration between Stanford’s
        <%= link_to 'Center for Human Rights and International Justice', 'https://humanrights.stanford.edu' %>
        and
        <%= link_to 'Stanford University Libraries (SUL)', 'https://library.stanford.edu/' %>. The objective is to facilitate free access to a comprehensive database of archival material from the tribunals and truth commissions around the globe, on a platform that makes discovery of materials far easier and more efficient than is currently the case for both legally trained users and lay-audiences, including populations directly affected by conflict or living in relevant diaspora communities.
      </p>
    </div>
    <div class="item-image">
      <%= link_to search_catalog_path do %>
        <img src="https://via.placeholder.com/240x160"alt="">
      <% end %>
    </div>
  </div>

  <h2 class="h3">Taube IMT Archival Collection</h2>
  <div class="d-flex vt-item">
    <div class="item-image">
      <%= link_to search_catalog_path do %>
        <img src="https://via.placeholder.com/240x160"alt="">
      <% end %>
    </div>
    <div class="ms-md-3">
      <p>
        The
        <%= link_to 'Taube Archive of the International Military Tribunal (IMT) at Nuremberg, 1945-1946 archival collection', search_catalog_path %>
        collects, for the first time, all of the Nuremberg IMT documentation, including film, audio recordings, photographs, and all of the massive body of records, transcripts, evidence, minutes of meetings, and other documents, online in one location.
      </p>

      <p>The IMT site makes all collection items searchable and viewable in digital form, including PDF documents, images, and audio and video files. You can also explore collection items using a hierarchical navigational structure.</p>
    </div>
  </div>

  <h2 class="h3">Virtual Tribunals Online Exhibit</h2>
  <div class="d-flex vt-item">
    <div class="item-image">
      <%= link_to '//exhibits.stanford.edu/virtual-tribunals' do %>
        <img src="https://via.placeholder.com/240x160"alt="">
      <% end %>
    </div>
    <div class="ms-md-3">
      <p>
        The
        <%= link_to 'Virtual Tribunals online exhibits site', 'https://exhibits.stanford.edu/virtual-tribunals' %>
        is a major initiative intended to compile a comprehensive database of international criminal tribunal records and rendered searchable through a single online portal.
      </p>

      <p>
        The first collection exhibit made available here consisted of court records from the
        <%= link_to 'Special Panel for Serious Crimes in East Timor', 'https://exhibits.stanford.edu/virtual-tribunals/catalog?f%5Bcollection_with_title%5D%5B%5D=kh392jb5994-%7C-Trial+Records+of+the+Special+Panels+for+Serious+Crimes+%28SPSC%29+in+East+Timor' %>.
        More recently we added records from the
        <%= link_to 'Taube IMT archival collection', 'https://exhibits.stanford.edu/virtual-tribunals/catalog?f%5Bcollection_with_title%5D%5B%5D=mt839rq8746-%7C-International+Court+of+Justice+Archives+of+the+Nuremberg+International+Military+Tribunal' %>.
        We anticipate growing this site with additional post-WWII collections from the U.S. Military War Crimes Trials in Europe and in the Far East.
      </p>
    </div>
  </div>
</div>
